.slider {
  max-width: 1440px;
  width: 100%;
  padding-bottom: 46px;
  
  &__slide {
    object-fit: cover;
    max-height: 670px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    li:nth-of-type(n+2) {
      margin-left: 12px;
    }
    button {
      width: 22px;
      height: 22px;
      border-radius: 5px;
      background: #FFFF3E;
      color: transparent;
      opacity: 0.2;
      transition: 1s;
    }
    .slick-active button {
      opacity: 1;
    }
  }
  .slick-arrow {
    position: absolute;
    width: 70px;
    height: 100%;
    z-index: 10;
    color: transparent;
    background-color: #ffffff;
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: 1s;
    &:hover {
      opacity: 0.03;
    }
  }
  .slick-next {
    top: 0;
    right: 0;
  }
  .slick-prev {
    top: 0;
    left: 0;
  }
}
