.main-screen {
    background-color: #000000;
    background-image: url("../img/bg_main_screen.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
}
