.available {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  // min-height: 100vh;
  // overflow: hidden;
  &__info {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 20px 120px;
  }
  &__title {
    margin-bottom: 40px;
    padding-left: 16px;
    font-size: px-to-em(44);
    line-height: lh-to-pct(54, 44);
    color: #FBFF4B;
  }
  &__options {
    display: flex;
    flex-wrap: nowrap;
  }
}
