.available {
    min-height: 100vh;
  &__info {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 20px 180px;
  }
  &__title {
    margin-bottom: 82px;
    padding-left: 16px;
    font-size: px-to-em(44);
    line-height: lh-to-pct(54, 44);
    color: #FBFF4B;
  }
  &__options {
    display: flex;
    flex-wrap: nowrap;
  }
}
