.available {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 20px 200px;

  &__title {
    margin-bottom: 62px;
    padding-left: 16px;
    font-size: px-to-em(43);
    line-height: lh-to-pct(52, 43);
    color: #FBFF4B;
  }
  &__options {
    display: flex;
    flex-wrap: nowrap;
  }
}
