mixin footer(modifier)
  .footer&attributes(attributes)
    .footer__area
      .footer__column
        a.footer__link(href="#") Забронировать стол
        a.footer__link(href="#") Мы вконтакте
        a.footer__link(href="#") Инстаграм
      .footer__column
        ul.footer__menu
          li.footer__menu-item: a.footer__menu-link(href="#about") Про кальянную
          li.footer__menu-item: a.footer__menu-link(href="#menu") Меню
          li.footer__menu-item: a.footer__menu-link(href="#contacts") Контакты
        a.footer__link(href="#") Оформить карту гостя
        p.footer__text 18+ Употребление&nbsp;табака&nbsp;вредит&nbsp;вашему здоровью

