.card {
  background-color: #FBFF4B;
  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 240px;
  }
  &__text {
    max-width: 450px;
    margin-left: 50px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(43, 32);
    font-weight: 500;
    color: #000000;
  }
  @media screen and (max-width: 1199.98px) {
    &__area {
      padding: 40px 36px;
    }
  }
  @media screen and (max-width: 767.98px) {
    &__text {
      margin-left: 30px;
      font-size: px-to-em(24);
      line-height: lh-to-pct(33, 24);
    }
  }
  @media screen and (max-width: 575.98px) {
    &__area {
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 16px;
    }
    &__text {
      margin: 10px 0 0;
      font-size: px-to-em(24);
      line-height: lh-to-pct(33, 24);
      text-align: center;
    }
  }
}
