mixin card(modifier)
  .card&attributes(attributes)
    .card__area
      img.card__qr(src="", alt="QR-код")
      p.card__text Оформи карту гостя получай&nbsp;кэшбэк от 5 до 15% и&nbsp;дополнительные бонусы