.card {
  background-color: #FBFF4B;
  &__area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 240px;
  }
  &__text {
    max-width: 450px;
    margin-left: 50px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(43, 32);
    font-weight: 500;
    color: #000000;
  }
}
