extends ../templates/template.pug
block content
    +main-screen
    main
        +about
        +available
        +menu
        +form
        +card
        +contacts
    +footer
    +verification
    +modal