.contacts {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 220px;

  &__title {
    margin-bottom: 40px;
    font-size: px-to-em(44);
    line-height: lh-to-pct(54, 44);
    text-align: center;
    color: #FBFF4B;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__map {
    object-fit: contain;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
    text-decoration: none;
  }
  &__name {
    margin: 0 16px 16px 0;
    font-size: px-to-em(28);
    line-height: lh-to-pct(38, 28);
    font-weight: 800;
    color: #FFF;
  }
  &__text {
    margin-bottom: 16px;
    font-size: px-to-em(24);
    line-height: lh-to-pct(33, 24);
    font-weight: 400;
    color: #FBFF4B;
  }
  &__button {
    margin-top: 20px;
    padding: 16px 64px;
    border: 3px solid #FBFF4B;
    font-family: Mutabor;
    font-size: px-to-em(20);
    line-height: lh-to-pct(24, 20);
    color: #ffffff;
    text-decoration: none;
    transition: 1s;
    &:hover {
      background-color: #FBFF4B;
      color: #000000;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
