.welcome {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 36px 36px;
    
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 490px;
    }
    &__title {
        max-width: 430px;
        margin-bottom: 20px;
        font-size: px-to-em(44);
        line-height: lh-to-pct(66, 44);
        letter-spacing: 2px;
        color: #FBFF4B;
    }
    &__text {
        max-width: 480px;
        margin-bottom: 40px;
        font-size: px-to-em(18);
        line-height: lh-to-pct(30, 18);
        font-weight: 400;
    }
    &__link {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 24px 24px 24px 16px;
        border: 3px solid #FBFF4B;
        background-color: transparent;
        font-family: Mutabor;
        font-size: px-to-em(26);
        line-height: lh-to-pct(32, 26);
        color: #FFF;
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
        svg {
            margin-left: 24px;
        }
        path {
            transition: 1s;
        }
        &:hover {
            background-color: #FBFF4B;
            color: #000000;
            path {
                fill: #000000;
                stroke: #000000;
            }
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__socials {
        display: flex;
        align-self: center;
    }
    &__social-link {
        &:nth-child(n+2) {
            margin-left: 42px;
        }
        path {
            transition: 1s;
        }
        &:hover {
            path {
                fill: #FBFF4B;
            }
        }
        &:active {
            opacity: 0.5;
        }
    }
    &__link-scroll {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 150px;
        margin: 0 auto;
        font-size: px-to-em(20);
        line-height: lh-to-pct(27, 20);
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        opacity: 0.55;
        transform: translateY(-72px);
        transition: 1s;
        svg:first-child {
            margin-top: 20px;
        }
        &:hover {
            opacity: 1;
        }
    }
}
