.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  padding: 10px 36px;

  &__contacts {
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  &__address {
    margin-bottom: 4px;
    font-size: 1em;
    line-height: lh-to-pct(22, 16);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      color: #FBFF4B;
    }
  }
  &__phone {
    font-size: px-to-em(28);
    line-height: lh-to-pct(38, 28);
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: #FBFF4B;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      color: #ffffff;
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    width: 100%;
    max-width: 588px;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;    
  }
  &__menu-item {
    transition: 1s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__menu-link {
    font-family: Mutabor;
    font-size: px-to-em(24);
    line-height: lh-to-pct(29, 24);
    text-decoration: none;
    color: #ffffff;
    transition: 1s;
    &:hover {
      color: #FBFF4B;
    }
  }
}
